* {
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;

  scroll-behavior: smooth;
  padding: 0;
}


.fa-chart-line
{

    margin: 5px;
}


#logo {
  width: auto;
  height: auto;
  padding: 10px;
  max-width: 173px;
}

nav {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  align-items: flex-start;
}

ul {
  display: flex;
  gap: 30px;
  padding: 0 36px;
  margin: 0;
  list-style: none;
}

li {
  border-top: 3px solid transparent;
  padding: 8px 5px;
}

li:hover {
  border-top: 3px #0065fc solid;
}

.header-title {
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
  max-width: 100%;
}

/* BARRE DE RECHERCHE */
section#barre-recherche {
  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: 15px;
  padding: 5px;
  max-width: 100%;
}

h2.visually-hidden {
  display: none;
}

.icone-rechercher {
  display: none;
  width: 6px;
  height: 22px;
}

#recherche-button {
  background-color: #0065fc;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  padding: 6px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texte-rechercher {
  padding: 10px;
  border-radius: 15px;
  background: #0065fc;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}

#cadre-icone-position {
  padding-top: 15px;

  background: #f2f2f2;

  width: 45px;
  height: 34px;
  padding-inline: 20px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#cadre-icone-position {
  background: #f2f2f2;
  padding: 10px 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-position {
  object-fit: contain;
  border: none;
}

#filtres {
  font-weight: 700;
}

.button-category-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button-category {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;

  border: 2px solid #d9d9d9;
  border-radius: 25px;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-category:hover {
  background-color: #d0e7ff;
}

.icones-categories {
  width: 24px;
  height: 24px;
}

.info-logements {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.info-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  color: #0065fc;
  font-weight: bold;
  font-size: 14px;
}


.hebergements-cards .card {
  background: #ffffff;

  width: 243px;
  height: 240px;

  border-radius: 20px;
  padding-bottom: 15px;
  gap: 4px;
}

.hebergements-cards a {
  width: 30%;
}

.card img {
  width: 243px;
  height: 124px;
  border-top-left-radius: 20px;

  border-width: 5px;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.activites-cards .card-title {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 36px;
}

.activites-wrapper {
  /*max-width: 1119px; */ /* ou 960px pour encore plus étroit */
  margin: 0 auto;
  padding: 0 20px;
}

.card-activite-marseille {
  width: 308px;
  height: 439px;
  border-radius: 20px;
  gap: 10px;

  background: #ffffff;

  box-shadow: 0px 3px 15px 0px #0000001a;
}

.card-activite-marseille img {
  object-fit: cover;

  width: 308px;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/***** ACTIVITES ****/

.activites-marseille {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

div.activites-marseille {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  padding: 10px;
}

section.activites-marseille {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.activites-cards {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.activites-a-marseille {
  justify-content: space-between;
}

/****** Hebergements And Populaires ***********/
.hebergements-a-marseille {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.hebergements-a-marseille section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  padding-bottom: 22px;
  display: inline-grid;
}

.les-plus-populaires {
  background-color: #f2f2f2;

  padding: 30px;
  box-sizing: border-box;
  padding-bottom: 22px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  /*height: 10%;*/
}

.hebergements .card-content {
  width: 243px;
  height: 64px;
  padding-right: 15px;
  padding-left: 15px;
  gap: 8px;
}

#afficher_plus {
  margin-top: 30px;
  font-family: Raleway, sans-serif;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.fa-chart-line:before,
.fa-line-chart:before {
  content: "\f201";
  width: 100%;
}

.populaires article {
  flex: 1 1 300px;
  max-width: 300px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
}

.populaires-cards .card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 6px;
  width: 100%;
  max-width: 370px;
  height: 146px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.populaires-cards img {
  width: 123px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 3px;
  width: 100%;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*************************************************************/

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  white-space: nowrap;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

footer {
  width: 100%;
  background: #f2f2f2;
  display: flex;
  gap: 15px;
}

footer .propos-footer {
  width: 375px;
  height: 163px;
  gap: 10px;
  padding: 20px;
}

footer .hebergement-footer {
  width: 375px;
  height: 163px;
  gap: 10px;
  padding: 20px;
}

footer .assistance-footer {
  width: 375px;
  height: 163px;
  gap: 10px;
  padding: 20px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
/* TABLETTE : jusqu'à 1024px */
@media (max-width: 1024px) {
  /**** HEADER ******/

  section#barre-recherche 
  {
        display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    padding: 0px;
  }

  #cadre-icone-position
  {
     background-color: #f2f2f2;
  padding: 18px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-shrink: 0;
  }

#icone-position {
    width: 18px;
  height: 20px;
}


#barre-recherche input {
  padding: 16px;
  border: none;
  font-size: 16px;
  outline: none;
  min-width: 0;
  box-sizing: border-box;
}

#btn-rechercher {
  padding: 16px 20px;
  background-color: #0065fc;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0 15px 15px 0;
  flex-shrink: 0;
}

  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .main-container {
    padding: 0px 40px;
  }

  header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 20px; /* comme tu avais */
    flex-wrap: wrap;
    padding: 0px;
  }

  .header-title {
    font-size: 20px;
  }

  .button-category {
    padding: 8px 12px;
    font-size: 16px;
  }

  .icones-categories {
    width: 20px;
    height: 20px;
  }




  #recherche-button {
    font-size: 16px;
    padding: 8px 10px;
  }

  .texte-rechercher {
    font-size: 16px;
    padding: 8px;
  }

  /****************/
  
  .section-title
  {
    padding: 0 15px;
  }

  /** HEBERGEMENT MARSEILLE **/

  .hebergements-cards {
    gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .hebergements-cards .card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  #afficher_plus {
    padding: 0 16px;

  }

  .card img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /** LES PLUS POPULAIRES **/

  .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .fa-chart-line:before,
  .fa-line-chart:before {
    content: "\f201";
    width: 100%;
  }

  .populaires-cards .card {
    max-width: 100%;
    width: 100%;
  }

  .populaires-cards .card {
    gap: 8px;
    padding: 0px 5px;
  }

  .hebergements-a-marseille {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 43px;
  }

  .hebergements-a-marseille section {
    width: auto;
    box-sizing: border-box;
    margin: 5px 5px;
  }

  .hebergements-a-marseille .populaires {
    width: 98%;
    padding: 18px 13px;
    box-sizing: border-box;
    margin: 45px 0px;
  }

  .hebergements {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px; 
    box-sizing: border-box;
  }

  .populaires {
    width: 90%;
    max-width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 10px;
    max-width: 100%;
    border-radius: 20px;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards img {
    width: 100px;
    height: 135px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-wrapper {
    max-width: 100%;
    margin: 0 0;
    padding: 0 0px;
  }

  .activite-marseille {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  section.activites-marseille .card-title {
    margin: 5px;
    padding: 5px;
  }

  .activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 cartes par ligne */
    gap: 10px;
    padding: 1px 19px;
  }

  .card-activite-marseille {
    width: 100%;
    height: 270px;
    margin-bottom: 0; 
  }

  section.activites-marseille {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .card-activite-marseille img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  footer .propos-footer {
    padding: 20px;
  }

  footer .hebergement-footer {
    padding: 20px;
  }

  footer .assistance-footer {
    padding: 20px;
    height: 205px;
  }
}

/**********************************************************/

/** POUR SMARTPHONE **/

/* Small devices (phones, less than 768px) */

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    padding: 0 0px;
  }

  .main-container {
    padding: 0;
  }

  header {
    padding: 0 15px;
  }

  .header-texte {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 10px;
  }

  h1.header-title {
    width: 100%;
    white-space: normal;
    word-break: break-word;
  }

      .section-title {
        padding: 0 0px;

      }


  .populaires-title {
    margin-top: 10px;
    padding: 13px 10px;
  }

  .hebergements-title-hebergement {
    padding: 10px 10px;
    margin-top: 20px;
  }

  .hebergements-title {
    margin-top: 15px;
    padding: 0px 25px;
  }

  #logo {
    margin-right: auto;
    margin-left: auto;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    width: 50%;
    text-align: center;
    padding: 10px;
    border-top: 2px solid transparent;
  }

  nav ul {
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap;
  }

  li:hover {
    border-top: none;
    border-bottom: 2px #0065fc solid;
  }

  li {
    width: 100%;
  }

  #afficher_plus {
    padding: 13px;
    padding-left: 21px;
  }

  /* BARRE DE RECHERCHE */

  .icone-rechercher {
    display: flex;
    width: 18px;
    height: 18px;
  }

  section#barre-recherche {
    width: 377px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    gap: 10px;
  }

  #recherche-button {
    margin-left: 0;
    padding: 0;
    width: 75px;
    height: 50px;
  }

  input::placeholder {
    font-weight: bolder;
    font-family: "Raleway";
  }

  input {
    width: 100%;
    font-size: 14px;
  }

  .texte-rechercher {
    display: none;
    width: 100%;
    font-size: 14px;
  }

  .button-category-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .button-category {
    flex: 1 1 45%; /* chaque bouton prend 45% pour laisser un peu d’espace (gap) */
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icones-categories {
    width: 18px;
    height: 18px;
  }

  .info-logements {
    padding: 15px;
    display: flex;
    gap: 15px;
  }

  .info-icon {
    width: 42px;
  }

  /****************FIN DU HEADER RESPONSIVE SMARTPHONE************************/

  section.hebergements {
    background-color: white;
    width: 100%;
  }

  .hebergements {
    width: 100%;
    order: 2;
  }

  .hebergements-cards .card {
    width: 100%;

    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001a;
  }

  .hebergements-cards a {
    width: 100%;
  }

  .hebergements-cards {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 3px;
    /*width: 286vw;*/
    /* grid-template-columns: 1fr; /* 1 seule card par ligne */
  }

  .hebergements-cards img {
    width: 100%;
    object-fit: cover;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 5px;
  }

  .les-plus-populaires {
    background-color: #ffffff;
  }

  .populaires {
    width: 100%;
    /*flex-direction: column;*/
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    order: 1;
    display: inline-grid;
  }

  .populaires-cards {
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }

  .populaires-cards a {
    width: 100%;
    max-width: 100%;
  }

  .activites-cards {
    display: flex;
    padding: 15px 20px;
    flex-direction: column;
    gap: 20px;
  }

  .hebergements-a-marseille {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .hebergements-a-marseille .populaires {
    width: 100%;
    padding: 18px 10px;
  }

  .hebergements-a-marseille section {
    padding: 0 13px;
    margin: 0;
    width: 100%;
  }

  .activites-a-marseille {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    width: 100%;
  }

  .card-activite-marseille {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 225px;
    border-radius: 20px;
    overflow: hidden;
  }

  .card-activite-marseille img {
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .populaires-cards {
    padding: 12px 0px;
  }

  .populaires-cards .card {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer > div {
    width: 100%;
    max-width: 375px;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  footer > div {
    width: 100%;
    max-width: 375px;
  }
}

div.propos_footer {
  display: flex;
  padding: 20px;

  width: 375px;
  height: 163px;
}

div.hebergement_footer {
  padding: 20px;

  width: 375px;
  height: 163px;
}

div.assistance_footer {
  padding: 20px;

  width: 375px;
  height: 163px;
}
