html
{
    scroll-behavior: smooth;
    align-items: center;
    text-align: center;
}

nav li a:hover
{
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}

img:hover
{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

body
{
    background-image: url('static/images/space4.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}

h3
{
    color: blanchedalmond;
}


img

{

    margin-left: 10px;
    width: 400px;
    height: 380px;
    align-items: center;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 30px;
    align-items: center;
    text-align: center;
}


.solar
{
    margin-top: 80px;
    border: solid black;
    width: 600px;
    box-shadow: 4px 4px 4px 4px blanchedalmond;
    margin-left: 950px;
    margin-right: 1100px;
    padding-left: -20px;
    align-items: center;
    text-align: center;
}

/**
.system
{

}
**/

.galaxie

{
    margin-top: 68px;
    border: solid black;
    box-shadow: 4px 4px 4px 4px blanchedalmond;
    margin-left: 950px; /**640px**/
    margin-right: 550px;
    padding-left: 30px;
    width: 600px;
    

}

.univers

{
    margin-top: 68px;
    border: solid black;
    box-shadow: 4px 4px 4px 4px blanchedalmond;
    margin-left: 950px; /**640px**/
    margin-right: 550px;
    padding-left: 30px;
    margin-bottom: 60px;
    width: 600px;
    
}

#img

{
    width: 400px;
    height: 380px;
}


.univers1

{
    width: 300px;
}