*{
    box-sizing: border-box;
}

h1
{
    color: aqua;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}

body
{
    margin: 0;
    padding: 0;
    background-image: url('static/images/space2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}



#img
{
    margin-top: 122px;
    margin-bottom: 100px;
    margin-left: 1000px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    /**box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;**/

    box-shadow: black;
    transform: rotateX(-50deg);
    animation: animate 20s linear infinite;
}

.moulinet

{
    width: 600px;
    height: 600px;
    border-radius: 60%;
    /**box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;**/
    margin-top: 122px;
    margin-bottom: 100px;
    margin-left: 1000px;

    box-shadow: black;
    transform: rotateX(-50deg);
    animation: animate 20s linear infinite;
}

.hoag

{
    width: 700px;
    height: 700px;
    border-radius: 60%;
    /**box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;**/
    margin-top: 122px;
    margin-bottom: 100px;
    margin-left: 900px;

    box-shadow: black;
    transform: rotateX(-50deg);
    animation: animate 20s linear infinite;
}


.tournesol

{
    width: 1000px;
    height: 800px;
}




@keyframes animate{
    0%{
        transform: rotateX(-50deg) rotate(0deg);
    }
    100%{
        transform: rotateX(-50deg) rotate(360deg);
    }
}

