body
{
    background-color: black;
}


h1

{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    color: aqua;
}

img
{
    margin-top: 122px;
    margin-bottom: 130px;
    margin-left: 1000px;
    width: 550px;
    height: 600px;
    border-radius: 50%;
    /**box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;**/
    box-shadow: black;
    transform: rotateY(-30deg);
    transform: rotateX(-30deg);
    /**transform-style:preserve-3d;**/
    animation: animate 20s linear infinite;
}


.mars

{
  
    align-items: center;
    margin-left: 675px;
    margin-right: 500px;
    height: 655px;
    width: 1200px;
}


.saturne

{
    align-items: center;
    margin-left: 675px;
    margin-right: 500px;
    height: 655px;
    width: 1200px;

}



@keyframes animate{
    0%
    {
        background-position: 0 0;
    }

    100%{
        transform: rotateY(-20deg) rotate(180deg);
    }
}
