@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html
{
    scroll-behavior: smooth;
    align-items: center;
    text-align: center;
}

body
{
    font-family: 'Advent Pro', sans serif;
    padding: 0;
    margin: 0;
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

h2
{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a
{
    color: black;
}

/****************************NAVBAR ***********************/

nav
{
    margin-top: -4px;
    overflow: hidden;
    background-color: blanchedalmond;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

nav li a:hover
{
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}

header li
{
    float: right;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo
{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}

/*********************************************************/

h1
{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: aqua;
    font-size: 3em;
    margin-top: 60px;
    text-shadow: 1px 3px 2px blanchedalmond;
}

h3
{
    text-align: center;
    color: black;
    font-size: 2.2em;
    text-shadow: 1px 3px 2px blanchedalmond;
}

/*****************************PRESENTATION****************/

#presentation
{
    background-color: aquamarine;
    padding: 10px 0px 100px 0px;
}

#Intro
{
    padding: 0px 20px;
}

/************************** SALON ************************/

#salon, .salon
{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 10%;
}

.salon h4
{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    font-size: 1.5em;
    margin: 15px;
    font-weight: 300;
}

.salon img
{
    border-radius: 10px;
    box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.7);
}

.salon img:hover
{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

#salon .salon, a img
{
    font-size: 30px;
    background-size: 150px;
    width: 410px;
    height: 300px;
    margin-bottom: 5px;
}
/************************** CUISINE **********************/
.cuisine
{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 10%;
}

.cuisine h4
{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.5em;
    margin: 15px;
    font-weight: 300;
}

.cuisine img
{
    border-radius: 10px;
    box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.7);
}

.cuisine img:hover
{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

.cuisine, a img
{
    font-size: 30px;
    background-size: 150px;
    width: 410px;
    height: 300px;
    margin-bottom: 5px;
}


/************************** CHAMBRES *********************/

#chambres, .chambre
{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 10%;
}

.chambre h4
{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    font-size: 1.5em;
    margin: 15px;
    font-weight: 300;
}

.chambre img
{
    border-radius: 10px;
    box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.7);
}

.chambre img:hover
{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

#chambres .chambre, a img
{
    font-size: 30px;
    background-size: 150px;
    width: 410px;
    height: 300px;
    margin-bottom: 5px;
}

/************************** FOOTER ***********************/

footer
{
    background-color: brown;
    color: azure;
    padding: 20px 0px 10px 0px;
    text-align: center;
    margin-top: 0px;
}

form
{
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button
{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0px;
    font-size: 1.2em;
    font-family: 'Dancing Script' sans serif;
    border-radius: 8px;
}

textarea
{
    height: 80px;
}

button
{
    font-size: 1.3em;
    background-color: aliceblue;
}

button:hover
{
    background-color: red;
    color: azure;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#DeuxiemeTrait
{
    height: 1px;
    width: 75%;
    background-color: blanchedalmond;
    margin: 60px auto;
}

#CopyRightIcon
{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#CopyRight
{
    width: 50%;
    text-align: left;
    color: grey;
}

#Icons
{
    width: 50%;
    text-align: right;
}

#Icons a
{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: white;
}

#Icons a:hover
{
    transform: scale(1.5);
    transition: 0.1s;
}